     /*Define the toolbar styles*/
    .x-btn-inner{
		background-position:0 0;
		background-repeat:no-repeat;
		font-size:13px;
		font-weight:bold;
		color:#474665;
		padding-left: 40px ;
		}
	.node {
		background-image:url(../images/node.png);
		}
	.link {
		background-image:url(../images/link.png);
		}
	.zoomin {
		background-image:url(../images/zoomin.png);
		}
	.zoomout{
		background-image:url(../images/zoomout.png);
		}
	.pan {
		background-image:url(../images/pan.png);
		}
	.tools {
		background-image:url(../images/tools.png);
		}
	.links {
		background-image:url(../images/links.png);
		}
	.help {
		background-image:url(../images/help.png);
		}
	.filter {
		background-image:url(../images/find.png);
	}
	.remove {
		background-image:url(../images/delete.png);
	}
	
	
	
	
/** following were moved from original d3ext.html */	
	
path.link {
  fill: none;

}


marker#decreases {
  fill: blue;
}
marker#beinguptaken {
  fill: red;
}
marker#activates {
  fill: red;
}
marker#inhibits {
  fill: green;
}
marker#stimulats {
  fill: red;
}
marker#association {
  fill: red;
}
marker#association {
  fill: red;
}
marker#physical_interaction {
  fill: green;
}
marker#predicted {
  fill: red;
}
marker#activates {
  fill: red;
}
marker#pathway {
  fill: green;
}

.decreases{
  stroke: blue;
    stroke-width: 2px;
}

.beinguptaken 
 {
  fill:none;
  stroke:red;
    stroke-width: 2px;
  stroke-dasharray: 0,2 1;
}

.inhibits
{
	  stroke-width: 2px;
  stroke: green;
}

.stimulats 
 {
  stroke-width: 2px;
  fill:none;
  stroke:red;
}

.association{
  stroke-width: 2px;
  stroke-dasharray: 5,1 5,1;
  stroke:#365786
}

.physical_interaction {
	  stroke-width: 2px;
  stroke: green;
}

.predicted {
	  stroke-width: 2px;
  fill:none;
  stroke:red;
  stroke-dasharray: 0,2 1;
}
.phosphorylates_activates {
  stroke-width: 2px;
  fill:none;
  stroke:green;
  stroke-dasharray: 0,2 1;
	
}

.activates {
	  stroke-width: 2px;
  stroke-dasharray: 4,5 2;
  stroke:red
}

.pathway {
	  stroke-width: 2px;
  stroke-dasharray: 1,2 3;
  stroke:green;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1px;
  fill-opacity:0.5;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}


.state-selected {  	
  	fill:yellow;
  	stroke:yellow;
}
path.link.state-selected {   
    stroke:yellow
    stroke-width:2;
    stroke-color:yellow;
}
.state-highlight {
    stroke:#66cccc;  
    fill: #66cccc;
    fill-opacity:0.2;
    stroke-width:4px;
}
path.link.state-highlight {
    stroke:#66cccc;      
    stroke-width:4px;
}

.state-error {   
    color:red    
}




/**  HTML forms **/
input.filterByNetwork {
	margin-left:40px
}