{% extends "home.html" %} 

{% block css_include %}    
   <link rel="stylesheet" type="text/css" href="/ext/resources/css/cssfile.css">
   <link rel="stylesheet" type="text/css" href="/ext/extjs/resources/css/ext-all.css">
   <style>
    body{
        background:none
    }
    
   </style>
{% endblock %}

{% block js_include %}   
    <script type="text/javascript" src="/ext/d3/d3.v2.js"></script>
    <script type="text/javascript" src="/ext/d3/fisheye.js"></script>       
    <script type="text/javascript"  src="/ext/extjs/ext-all.js"></script> 
    <!--  <script type="text/javascript"  src="/ext/extjs/ext-all-debug-w-comments.js"></script>  -->  
    <script type="text/javascript" src="/ext/js/forcednetwork.js"></script>
    <script type="text/javascript" src="/ext/app.js"></script>
    <script type="text/javascript" src="/ext/lib/jquery-file-download.js"></script>
        
{% endblock %}



{% block main%}    
    <div id="ext-frame">
    </div>
{% endblock %}
  </body>
</html>